body{
  font-family: 'Scada', sans-serif;
  margin: 0;
  background-color: #3C493C;
}

a {
  text-decoration: none;
  color: #26529F;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #547254;
  align-items: center;
  display: flex;
  position: relative;
}

.imgContainer img {
  max-height: 240px;
  max-width: 300px;
}

button {
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: #AAB8A3;

}

.nopeButton {
  background-color: #DC4747;
}

.goingButton {
  background-color: #59D819;
}

/*this is for the modal look*/

.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}

.action-button:hover {
  background-color: #f9d2b2;
  border-color: #333;
  color: #333;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#add-event-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-body {
  padding: 20px;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
  width: 100px;
  height: 75px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
